nav ul {
background-color: rgb(112, 169, 161);
list-style-type: none;
margin: 0;
padding: 14px;
border-radius: 5px;

}

nav li {
  display: inline;
  font-family: 'Press Start 2P', cursive;
  color: rgb(207, 224, 195);
}

nav a:link, nav a:visited {
  color: black;
  background-color: rgb(207, 224, 195);
  border-radius: 3px;
  text-decoration: none;
  padding: 2px, 6px;
  margin: 0;
  font-size: 0.9em;
}

nav a:hover {
  background-color: rgb(64, 121, 140);
  color: white;
}

nav a.current {
  background-color: rgb(158, 193, 163);
  color: white;
}

.itext {
  font-size: 1.4em;
}