main {
  width: auto;
  margin: 20px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Press Start 2P', cursive;
  color:white;
}

a {
  font-family: 'Press Start 2P', cursive;
  font-size: .9em;
}

h1 {
  font-size: 3.4em;
  text-align: center;
}

h2, h3 {
  text-align: center;
}

.link {
  background-color: rgb(207, 224, 195); 
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  color:black;
}

.link:hover {
  background-color: rgb(64, 121, 140);
  color: white;
}

.about {
  padding-top: 20px;
}